
<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__top">
        <div class="footer__main-inner"><img class="logo" src="https://lorneyq.github.io/ondem/images/logo.svg" alt="Logo"/>
          <div class="footer__social"><a href="#"><img src="https://lorneyq.github.io/ondem/images/icons/telegram-2.svg" alt="Telegram" title="Мы в Telegram"/></a><a href="#"><img src="https://lorneyq.github.io/ondem/images/icons/instagram-2.svg" alt="Instagram" title="Мы в Instagram"/></a><a href="#"><img src="https://lorneyq.github.io/ondem/images/icons/facebook-2.svg" alt="Facebook" title="Мы в Facebook"/></a></div><a class="public-offer" href="#">Публичная оферта</a>
        </div>
        <ul class="footer__list">Категории
          <li class="footer__list-item"> <a href="#">Бытовая техника</a></li>
          <li class="footer__list-item"> <a href="#">Ноутбуки и аксессуары</a></li>
          <li class="footer__list-item"> <a href="#">Телефоны и аксессуары</a></li>
          <li class="footer__list-item"> <a href="#">Телевизоры</a></li>
          <li class="footer__list-item"> <a href="#">Аудиотехника</a></li>
          <li class="footer__list-item"> <a href="#">Компьютерная переферия</a></li>
          <li class="footer__list-item"> <a href="#">Носители информации</a></li>
          <li class="footer__list-item"> <a href="#">Фотоаппаратура</a></li>
        </ul>
        <ul class="footer__list">Полезная информация
          <li class="footer__list-item"> <a href="#">Акции</a></li>
          <li class="footer__list-item"> <a href="https://lorneyq.github.io/ondem/warranty.html">Гарантия</a></li>
          <li class="footer__list-item"> <a href="https://lorneyq.github.io/ondem/shops.html">Магазины</a></li>
          <li class="footer__list-item"> <a href="https://lorneyq.github.io/ondem/karta-klienta.html">Карта клиента</a></li>
          <li class="footer__list-item"> <a href="https://lorneyq.github.io/ondem/delivery-and-payment.html">Доставка и оплата</a></li>
        </ul><a class="footer__info oplata" href="https://lorneyq.github.io/ondem/delivery-and-payment.html">Принимаем к оплате:
          <div class="footer__info-content"><img src="https://lorneyq.github.io/ondem/images/brands/visa.svg" alt="Visa"/><img src="https://lorneyq.github.io/ondem/images/brands/mastercard.svg" alt="Mastercard"/><img src="https://lorneyq.github.io/ondem/images/brands/privat.jpg" alt="Приват"/><img src="https://lorneyq.github.io/ondem/images/brands/monobank.svg" alt="Монобанк"/></div></a><a class="footer__info send" href="https://lorneyq.github.io/ondem/delivery-and-payment.html">Отправляем по:
          <div class="footer__info-content"><img src="https://lorneyq.github.io/ondem/images/brands/novaposhta.svg" alt="Новапошта"/><img src="https://lorneyq.github.io/ondem/images/brands/ukrposhta.svg" alt="Укрпошта"/></div></a><a class="public-offer mobile" href="#">Публичная оферта</a>
      </div>
    </div>
    <div class="footer__bottom"> 
      <div class="footer__copy">© ONDEM 2023. Designed by Lorneyq</div>
    </div>
  </div>
</footer>